{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default" ng-controller="AppMapController">
        <div class="panel-heading">
            <h3 class="panel-title">
                Bookshops
                <span ng-show="modifiedMarkers.length">
                    <div ng-click="dismissNewMarkers()" class="btn btn-warning pull-right">Dismiss changes</div>
                    <div ng-click="submitMarkers()" class="btn btn-success pull-right">Submit new positions</div>
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <div id="map"></div>
        </div>
    </div>
    <pre class="hidden">
        <div>
            name: {[name]}
            <div>bestsellers:</div>

        </div>
    </pre>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOApVDLdVd_IF2XM6rycgZdGkhcwfj-ZE&callback=mapsLoaded">
    </script>
{% endblock %}
