<div class="custom-cover-modal" {% if ngshow is not empty %}ng-show="{{ ngshow }}"{% endif %}>
    {% include '@App/includes/loader.html.twig' with {'css': 'position: relative; top: 50%; left: 50%;'} %}
</div>
